@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center mx-3 mb-4">
    <input id="searchInput" class="form-control me-2" placeholder="Search" onkeyup="filterProducts()" />
    <div class="cart-wrapper position-relative">
        <a class="btn" asp-action="Cart" asp-controller="Cart">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
        </a>
        <span id="cartBadge" class="cart-badge" style="display: none">0</span>
    </div>
</div>

<div class="container-xxl">
    <h4>All Categories</h4>
    <div class="container mt-4">
        <div class="d-flex flex-wrap gap-4">
            @foreach (var category in Model.SelectMany(p => p.Categories.Select(c => c.CategoryName)).Distinct())
            {
                <a asp-controller="Catalog" asp-action="Category" asp-route-category="@category" class="btn btn-outline-primary">
                    @category
                </a>
            }
        </div>
    </div>
    <br />

    <h4>All Products</h4>
    <div class="container mt-4">
        <div class="row">
            @foreach (var product in Model)
            {
                <!-- 3 per row -->
                <div class="col-md-4 mb-4 product-card">
                    <div class="card h-100 shadow-sm">
                        <img src="@(product.ImageUrl.Any() ? product.ImageUrl[0].SourceSmall : "")" class="card-img-top" alt="@product.ProductName" height="150" />
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            @if (product.Variations.Any())
                            {
                                <span class="card-text">RM @product.Variations[0].RegularPrice / @product.Variations[0].UnitOfMeasurement</span>
                            }
                            <a class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>