@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-xxl">
    <h4>All Categories</h4>
    <div class="container mt-4">
        <div class="d-flex flex-wrap gap-4">
            @foreach (var category in Model.SelectMany(p => p.Categories.Select(c => c.CategoryName)).Distinct())
            {
                <a asp-controller="Catalog" asp-action="Category" asp-route-category="@category" class="btn btn-outline-primary">
                    @category
                </a>
            }
        </div>
    </div>
    <br />

    <h4>All Products</h4>
    <div class="container mt-4">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4 mb-4">
                    <!-- 3 per row -->
                    <div class="card h-100 shadow-sm">
                        <img src="@(product.ImageUrl.Any() ? product.ImageUrl[0].SourceSmall : "")" class="card-img-top" alt="Product Image" height="150" />
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            @if (product.Variations.Any())
                            {
                                <span class="card-text">RM @product.Variations[0].RegularPrice / @product.Variations[0].UnitOfMeasurement</span>
                            }
                            <a class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>